<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TRAVELMate"
        tools:targetApi="31">
        <activity
            android:name=".Sabaragamuwa"
            android:exported="false" />
        <activity
            android:name=".CnteralProvince"
            android:exported="false" />
        <activity
            android:name=".WesternProvince"
            android:exported="false" />
        <activity
            android:name=".Westan_Province"
            android:exported="false" />
        <activity
            android:name=".Central_Province"
            android:exported="false" />
        <activity
            android:name=".Hotel_Details"
            android:exported="false" />
        <activity
            android:name=".HotelUplad"
            android:exported="false" />
        <activity
            android:name=".Hotel"
            android:exported="false" />
        <activity
            android:name=".Recommended_Item"
            android:exported="false" />
        <activity
            android:name=".Southern_Province"
            android:exported="false" />
        <activity
            android:name=".Hire_Guide_Details"
            android:exported="false" />
        <activity
            android:name=".GuideUpload"
            android:exported="false" />
        <activity
            android:name=".Hire_Guide"
            android:exported="false" />
        <activity
            android:name=".DetailActivity"
            android:exported="false" />
        <activity
            android:name=".UploadActivity"
            android:exported="false" />
        <activity
            android:name=".Places"
            android:exported="false" />
        <activity
            android:name=".NavigationDrawer"
            android:exported="false" />
        <activity
            android:name=".Map"
            android:exported="false" />
        <activity
            android:name=".Category"
            android:exported="false" />
        <activity
            android:name=".Profile_log_in_Check_userName"
            android:exported="false" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".Setting"
            android:exported="false" />
        <activity
            android:name=".GuideRegistration"
            android:exported="false" />
        <activity
            android:name=".GuideLogIn"
            android:exported="false" />
        <activity
            android:name=".View_holder"
            android:exported="false" />
        <activity
            android:name=".Fogot_Password"
            android:exported="false" />
        <activity
            android:name=".Province_"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".Sign_up"
            android:exported="false" />
        <activity
            android:name=".LogIn"
            android:exported="false" />
        <activity
            android:name=".Choose_user_or_Guide"
            android:exported="false" />
        <activity
            android:name=".test"
            android:exported="false" />
        <activity
            android:name=".Test"
            android:exported="false" />
        <activity
            android:name=".place"
            android:exported="false" />
        <activity
            android:name=".ProvinceActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".UserloginActivity"
            android:exported="false" />
        <activity
            android:name=".loginUser"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.TRAVELMate" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCAaw6Ef0Sou9I5CPPj_VIwoRLh69QXOUA" />
    </application>

</manifest>